#pane-background{
   -fx-background-image: url("http://4.bp.blogspot.com/-HatqCYL4tsw/UIY_MhXK3mI/AAAAAAAAL-M/8YjrYY29i34/s1600/Abstract+Purple+Wallpapers+2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800 500;
    -fx-background-position: center center;
}