.root{
	
	-fx-font-size: 20px;
	-fx-font-weighth: bold;
	-fx-background-color: lightblue;
	}
.fancy-button{
	
	-fx-background-color: red;
	-fx-text-fill: white;
	
}

#generate{
	-fx-vgap: 20px;
	
}



.fancy-button:hover { 
	-fx-background-color: yellow;
	-fx-text-fill: red;
}
.fancy-button:pressed{
	-fx-background-color: green;
	-fx-text-fill: white;
}
//	.text-area{
//		-fx-border-color: black;
//		
//	}
	
.button.datei {
	-fx-background-color: #ffa500;
}

