.root{
	
	-fx-font-size: 15px;
	-fx-font-weighth: bold;
//	-fx-background-color: lightblue;
	}
.fancy-button{
	
	-fx-background-color: lightyellow;
	-fx-text-fill: Black;
	
}

#generate{
	-fx-vgap: 20px;
	-fx-background-radius: 10;
}



.fancy-button:hover { 
	-fx-background-color: white;
	-fx-text-fill: blue;
}
.fancy-button:pressed{
	-fx-background-color: green;
	-fx-text-fill: white;
}
//	.text-area{
//		-fx-border-color: black;
//		
//	}
	
.button.datei {
	-fx-background-color: -fx-shadow-highlight-color;

}
.slider {
    -default-track-color: blue;
    -track-color: green ;
}
.slider .track {
    -fx-background-color: -fx-shadow-highlight-color;
    -track-color: yellow;
         
          
}
.Label{
	-fx-font-weigth: bold;

}
